body{
    padding: 0px;
    margin: 0px;
}

.menu{
    background-color: rgb(61, 61, 61);
    padding: 10px;
    text-align: center;
    word-spacing: 100px;
    width: 100%;
    position: fixed;
}

.elemento_menu{
    color: white;
    text-decoration: none;
    
}

.presentacion{
    background-color: rgb(207, 21, 62);
}

#inicial{
    margin: 0px;
}

#poe_presentacion{
    display: block;
    margin: auto;
    border-radius: 20px;
}

.biografia{
    margin-top: 20px;
    background-color: rgb(247, 247, 247);
    width: 1160px;
    padding: 20px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}

.obra{
    margin-top: 20px;
    width: 1200px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    
}

.obra_introduccion{
    background-color: rgb(247, 247, 247);
    padding: 20px;
}

.obra_macabros{
    margin-top: 20px;
    background-color: rgb(247, 167, 138);
    padding: 20px;
    width: 550px;
    height: 500px;
    float: left;
}

.obra_detectivescos{
    margin-top: 20px;
    background-color: rgb(216, 123, 123);
    padding: 20px;
    width: 550px;
    height: 500px;
    float: right;
}

.obra_ciencia{
    margin-top: 20px;
    background-color: rgb(206, 147, 71);
    padding: 20px;
    width: 550px;
    height: 500px;
    float: left;
}

.obra_satiricos{
    margin-top: 20px;
    background-color: rgb(120, 163, 80);
    padding: 20px;
    width: 550px;
    height: 500px;
    float: right;
}

.obra_tecnica{
    margin-top: 20px;
    background-color: rgb(85, 170, 128);
    padding: 20px;
    width: 550px;
    height: 500px;
    float: left;
}

.obra_novela{
    margin-top: 20px;
    background-color: rgb(82, 138, 163);
    padding: 20px;
    width: 550px;
    height: 500px;
    float: right;
}

.obra_poesia{
    margin-top: 20px;
    background-color: rgb(104, 90, 167);
    padding: 20px;
    width: 550px;
    height: 500px;
    float: left;
}

.obra_ensayo{
    margin-top: 20px;
    background-color: rgb(148, 86, 163);
    padding: 20px;
    width: 550px;
    height: 500px;
    float: right;
}

.obra_critica{
    float: left;
    padding: 20px;
    margin-top: 20px;
    background-color: rgb(163, 84, 143);
    margin-bottom: 20px;
}

.legado_e_influencia{
    margin-top: 20px;
    width: 1200px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}

.citas{
    padding: 20px;
    margin-top: 20px;
    background-color: rgb(247, 247, 247);
    width: 1160px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    
}

li{
    padding-bottom: 10px;
}


#imagen_cuento{
    display: block;
    margin: auto;
}

.presentacion_cuento{
    padding-bottom: 20px;
    background-color: black;
    color: white;
    text-align: center;
}

.texto_cuento{
    margin-top: 20px;
    background-color: rgb(247, 247, 247);
    width: 1200px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.opinion{
    margin-top: 20px;
    background-color: rgb(247, 247, 247);
    width: 1200px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.glosario{
    margin-top: 20px;
    background-color: rgb(247, 247, 247);
    width: 1200px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

#versos{
    text-align: center;
}
